.results {
  padding-top: 3rem;
  margin-left: 20px;
  color: white;
}

.results__poster {
  object-fit: contain;
  max-height: 100px;
  margin: 20px;
  transition: transform 450ms;
}

.results__posterLarge {
  max-height: 250px;
  border-radius: 10px;
}

.results__posterLarge:hover {
  transform: scale(1.09);
}

.results__poster:hover {
  transform: scale(1.08);
}
