@import url("https://fonts.googleapis.com/css?family=Lobster");

.App {
  text-align: center;
}

.bottomNavigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: "#05a3d2";
}

body {
  font-family: "Lobster";
  font-size: 21px;
}
